<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TestConsole.HelloWorldService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ServiceBinding" contract="TestConsole.IHelloWorld"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ServiceBinding">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <behavior name="ServiceBehavior">
        <serviceCredentials>
          <serviceCertificate findValue="CN=WCFQuickStartServer" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
          <clientCertificate>
            <authentication certificateValidationMode="None"/>
          </clientCertificate>
        </serviceCredentials>
      </behavior>
    </behaviors>
  </system.serviceModel>
</configuration>