<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior"
        name="ServiceImplementation.CustomerManager">
        <endpoint bindingConfiguration="ServiceBinding"
          binding="basicHttpBinding" contract="ServiceContract.ICustomerManager" />
        <endpoint bindingConfiguration="ServiceBinding"
          binding="wsHttpBinding" contract="ServiceContract.ICustomerManager">
          <identity>
            <dns value="WCFQuickStartServer" />
          </identity>
        </endpoint>
      </service>
      <service name="ServicesGuidancePackage.Tests.Common.MockServiceContract">
        <endpoint address="http://localhost:5555/Host/ApplyClientActionFixture"
						binding="wsHttpBinding" contract="ServicesGuidancePackage.Tests.Common.IMockServiceContract" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
					   membershipProviderName="SqlProvider" />
          </serviceCredentials>
        </behavior>
        <behavior name="BehaviorExtension">
          <serviceCredentials>
            <serviceCertificate findValue="CN=WCFSecurity" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials>
            <clientCertificate findValue="CN=WCFSecurity"/>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="ServiceBinding">
          <security mode="Message">
            <message clientCredentialType="Certificate" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="ServiceBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ClientBinding">
          <security authenticationMode="SecureConversation" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature"
							requireSecurityContextCancellation="false" requireSignatureConfirmation="false">
            <secureConversationBootstrap authenticationMode="UserNameForSslNegotiated"/>
          </security>
          <httpTransport realm=""/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7777/Host/ApplyClientActionFixture"
					behaviorConfiguration="ClientBehavior" binding="customBinding"
					bindingConfiguration="ClientBinding" contract="ServicesGuidancePackage.Tests.Common.IMockServiceContract"
					name="ClientCustomBinding">
        <identity>
          <dns value="WCFSecurity" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>