<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<system.serviceModel>
		<services>
			<service name="TestService">
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint binding="netMsmqBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint binding="netPeerTcpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint binding="msmqIntegrationBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionfullBinding"/>
        <endpoint binding="wsDualHttpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionlessBinding"/>
        <endpoint binding="netTcpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSemantic.Tests.Common.ISessionlessBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
		</services>
	</system.serviceModel>
</configuration>