<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <metadata>
        <policyImporters>
          <extension type="MockImporters.MockCustomPolicyImporter, MockImporters"/>
        </policyImporters>        
        <wsdlImporters>
          <extension type="MockImporters.MockCustomWsdlImporter, MockImporters"/>
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>