<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="HelloWorldService">
				<endpoint binding="customBinding" bindingConfiguration="ServiceBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld"/>
      </service>
		</services>
    <client>
      <endpoint address="http://localhost/BrokeredAuthenticationX509/Service/Service.svc"
                bindingConfiguration="ServiceBinding2" binding="customBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld"/>
    </client>
    <bindings>
			<customBinding>
				<binding name="ServiceBinding">
					<security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="MutualCertificate" messageProtectionOrder="EncryptBeforeSign"/>
					</security>
					<httpTransport/>
				</binding>
        <binding name="ServiceBinding2">
          <security authenticationMode="MutualCertificate" messageProtectionOrder="EncryptBeforeSign">
          </security>
          <httpTransport/>
        </binding>
      </customBinding>
		</bindings>	
	</system.serviceModel>
</configuration>
