<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="HelloWorldService" behaviorConfiguration="ServiceBehavior2">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="ServiceBinding" contract="IHelloWorld"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="ServiceBinding">
					<security mode="Message">
						<message clientCredentialType="Certificate"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceBehavior2">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
