<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<system.serviceModel>
		<services>
			<service name="HelloWorldService">
				<endpoint address="basic1" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld"/>
        <endpoint address="basic2" binding="basicHttpBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld"/>
      </service>
		</services>
    <client>
      <endpoint address="http://localhost/BrokeredAuthenticationX509/Service/Service.svc"
                bindingConfiguration="ServiceBinding" binding="customBinding" contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld"/>
    </client>
    <bindings>
			<basicHttpBinding>
        <binding name="ServiceBinding">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceBinding">
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
	</system.serviceModel>
</configuration>