<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost/BrokeredAuthenticationX509/Service/Service.svc"
                bindingConfiguration="ServiceBinding" binding="wsHttpBinding" 
				contract="Microsoft.Practices.FxCop.Rules.WcfSecurity.Tests.IHelloWorld" behaviorConfiguration="ServiceBehavior">
				<identity>
					<dns value="WCFQuickStartServer" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="ServiceBinding">
					<security mode="Message">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <clientCredentials>
            <clientCertificate findValue="CN=WCFQuickStartClient" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
