<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation" />
  </configSections>
  <validation>
    <type defaultRuleset="Rule Set" assemblyName="" name="Microsoft.Practices.ServiceFactory.Validation.Tests.TheClass">
      <ruleset name="Rule Set">
        <properties>
          <property name="Child">
						<validator type="Microsoft.Practices.ServiceFactory.Validation.Tests.TestClassObjectValidator, Microsoft.Practices.ServiceFactory.Validation.Tests"
							targetRuleset="Rule Set"
							fileConfigurationSource="ConfigurableObjectValidatorFixture.config"
							name="Object Validator" />
          </property>
          <property name="Property">
						<validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation"
							pattern="valid"
              options="Singleline" 
              messageTemplate="Invalid property" 
              name="Regex Validator" />
					</property>
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>